<footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
      Made by <div class="orange-text text-lighten-3">Alffy4 and loquils</div>
      </div>
    </div>
  </footer>
</body>
</html>